<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link type="text/css" rel="stylesheet" href="/static/css/style2.css">
    <meta charset="utf-8">
    <title>ShoppingCart</title>

</head>
<body>
    <div class = "header">
        <div class="header--text">
          The Book Yard
        </div>
        <div class="header--subheading">What goes into the mind comes out in life</div>
      </div>
      <br/>
      <br/>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
         
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="/views/homeLoggedIn.html">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/views/store.html">Store</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/views/cart.html">Shopping Cart</a>
                </li>

              <li class="nav-item">
                <a class="nav-link" href="/views/profile.html">UserProfile</a>
              </li>
            
  
              &emsp;
              &emsp;
              &emsp;
              &emsp;
              &emsp; 
              &emsp;
              &emsp;
              &emsp;
              &emsp;
              &emsp;  
              &emsp;
              &emsp;
              &emsp;
              &emsp;
              &emsp; 
              &emsp;
              &emsp;
              &emsp;
              &emsp;
              &emsp;  
              &emsp;
              &emsp;
              &emsp;
              &emsp;
              &emsp; 
              &emsp;
              &emsp;
              &emsp;
              &emsp;
              &emsp;  
              &emsp;
              &emsp;
              &emsp;
              &emsp;
              &emsp;
              &emsp; 
              &emsp;
              &emsp;
              &emsp;
              &emsp;
              &emsp;  
              &emsp;
         
              
              <li>
                <a href="/views/homeLoggedOut.html">
                  <button type="button" class="btn btn-outline-secondary">Log out</button>
                </a>
                  </li>
              
            </ul>
          </div>
        </nav>
        <br/>
       <br/>

<div class="shopping-cart" align="center>
  <!-- Title -->
  <div class="title">
   <h1> Shopping Bag </h1>
  
 
  <!-- Product #1 -->
  
  <div class="item">
   
 
    <div class="image">
      <img src="/images/alice.jpeg" alt="" />
    </div>
 
    <div class="description">
      <span>Alice in Wonderland</span>

    <div class="quantity">
      <button class="plus-btn" type="button" name="button">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      </button>
      <input type="text" name="name" value="1">
      <button class="minus-btn" type="button" name="button">
         <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
      </button>
    </div>
 
    <div class="total-price">$549</div>
  </div>
 </div>
  <!-- Product #2 -->
  <div class="item">

 
    <div class="image">
      <img src="/images/hp.jpeg" alt=""/>
    </div>
 
    <div class="description">
      <span>Harry Potter</span>
 
   
 
    <div class="quantity">
      <button class="plus-btn" type="button" name="button">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      </button>
      <input type="text" name="name" value="1">
      <button class="minus-btn" type="button" name="button">
         <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
      </button>
    </div>
 
    <div class="total-price">$870</div>
  </div>
  </div>
  <!-- Product #3 -->
  <div class="item">
    <div class="image">
      <img src="/images/camel.jpeg" alt="" />
    </div>
 
    <div class="description">
      <span>How camel got his hump</span>
     
    
 
    <div class="quantity">
      <button class="plus-btn" type="button" name="button">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      </button>
      <input type="text" name="name" value="1">
      <button class="minus-btn" type="button" name="button">
         <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
      </button>
    </div>
 
    <div class="total-price">$349</div>
  </div>
  </div>
  <a href="/views/checkoutform.html"><button type="button" align="center">Proceed to make payment</button></a>
  

</div>

</div>


</body>
</html>
