<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>profile</title>
  </head>

<body>
        <body>

                <div class = "header">
                  <div class="header--text">
                    The Book Yard
                  </div>
                  <div class="header--subheading">What goes into the mind comes out in life</div>
                </div>
                <br/>
                <br/>
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                   
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                      <ul class="navbar-nav">
                        <li class="nav-item active">
                          <a class="nav-link" href="/views/homeLoggedIn.html">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/views/cart.html">Shopping Cart</a>
                          </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/views/store.html">Store</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/views/profile.html">UserProfile</a>
                        </li>
            
                        &emsp;
                        &emsp;
                        &emsp;
                        &emsp;
                        &emsp; 
                        &emsp;
                        &emsp;
                        &emsp;
                        &emsp;
                        &emsp;  
                        &emsp;
                        &emsp;
                        &emsp;
                        &emsp;
                        &emsp; 
                        &emsp;
                        &emsp;
                        &emsp;
                        &emsp;
                        &emsp;  
                        &emsp;
                        &emsp;
                        &emsp;
                        &emsp;
                        &emsp; 
                        &emsp;
                        &emsp;
                        &emsp;
                        &emsp;
                        &emsp;  
                        &emsp;
                        &emsp;
                        &emsp;
                        &emsp;
                   
                        
                        <li>
                            <a href="/views/homeLoggedOut.html">
                                <button type="button" class="btn btn-outline-secondary">Log out</button>
                              </a>              
                            </li>
                      </ul>
                    </div>
                  </nav>
                  <br/>
                  <br/>

                  <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                      <div class = "header_1">
                      <div class="header--text">
                        User Profile...........
                      </div>
                    </div>
                      </div>
                      <div class="flip-card-back">
                        <br/>
                        <br/>
                        <label for="fname"><i class="fa fa-user"></i> Full Name : Nikita</label><br/>
                        <label for="email"><i class="fa fa-envelope"></i> Email : n@email.com</label><br/>
                        <label for="adr"><i class="fa fa-address-card-o"></i>&emsp;Billing Address : home. mary street</label><br/>
                        <label for="city"><i class="fa fa-institution"></i>&emsp;Shipping Address : home. mary street</label><br/>
                      </div>
                    </div>
                  </div>
              
                  <br/>


        
</body>
</html>